<div>
  <div>
    <button (click)="flowerServiceToState()">Effect Get Flowers from API</button>
  </div>
  <div class="row">
    <input class="col" type="text" placeholder="name" #flowerName />
    <input class="col" type="text" placeholder="color" #flowerColor />
    <button class="col" (click)="addFlower(flowerName.value, flowerColor.value)">
      Add Flower
    </button>
  </div>
  <div>
    <table>
      <tr>
        <th>Flower</th>
        <th>Color</th>
        <th><button (click)="removeFlowers()">Remove All</button></th>
      </tr>
      <ng-container *ngIf="(flowers$ | async) as flowers">
        <tr *ngFor="let flower of flowers; let i = index">
          <td>
            {{ flower.name | uppercase }}
          </td>
          <td *ngIf="flower.color != 'Yellow', else ifbold ">
            {{ flower.color | uppercase }}
          </td>
          <ng-template #ifbold>
            <td>
              <b>{{ flower.color | uppercase }}</b>
            </td>
          </ng-template>
          <td>
            <button (click)="removeFlower(flower.name, flower.color)">Delete flower</button>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>